* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #fffaf5;
  line-height: 1.5;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #fffaf5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .15) ;
}


.navbar-left {
  display: flex;
  align-items: center;
  padding: 3px;
  vertical-align: middle;
  
}

.logo-img {
  height: 28px;
  object-fit: contain;
  margin-right: 0px;
  margin-left: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.9);
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.logo-text span {
  color: #ff8367;
  font-size: 20px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.navbar ul {
  display: flex;
   gap: 35px;
   align-items: center;
   margin-right: 45px;
  list-style: none;
  
}

.navbar li a {
  text-decoration: none;
  margin: 0 15px;
  color: rgba(0, 0, 0, 0.682);
  filter: blur(0.3px);
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navbar li a.active {
  color: rgb(10, 10, 10);
  font-weight: bold;
  filter: none; /* No blur for the current page link */
  font-weight: bold;
}

/* ===== HERO SECTION ===== */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px ;
  margin-top: 25px;
  margin-right: 80px;
  
  
}

.hero-text{
    flex:1;
    max-width: 450px;
    margin-bottom: 40px;
    
    
   
}

.hero-text h1 {
  color: #ff8367;
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;

 
}

.hero-text h2 {
  color: #363958;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  line-height: 1.2;
 
}

.hero-text p {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  max-width: 350px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn {
  display: inline-flex; 
  align-items: center;
  padding: 10px;
  background-color: #3D4FF3;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn i {
  margin-right: 4px;
  font-size: 17px;
  
}


.btn:hover {
  background-color: #2c3ed1;
  transform: scale(1.03);
}


.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  position:relative;
  bottom: 30px;
  margin-right: 60px;
  
 
}

.hero-image {
  width: 100%;
  z-index: 2;
  position:relative;
 
}


.shoe{
  max-width: 100%;
  height: auto;
  width: 500px;
}


